 .u-section-1 {
  min-height: 956px;
  background-image: none;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: -40px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 570px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  object-position: 0% 50%;
  height: 563px;
  width: 1240px;
  margin: 6px auto 0 -50px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  margin: -377px 40px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 7px 47px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 570px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 40px auto 7px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 379px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  width: 121px;
  height: 121px;
  background-image: url("images/download.png");
  background-position: 50% 50%;
  margin: 13px 88px 0 69px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 14px;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 24px 30px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-image-3 {
  width: 121px;
  height: 121px;
  background-image: url("images/iso140012.jpeg");
  background-position: 50% 50%;
  margin: 13px 88px 0 69px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 14px;
}

.u-section-1 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 24px 30px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-image-4 {
  width: 121px;
  height: 121px;
  background-image: url("images/download.jpeg");
  background-position: 50% 50%;
  margin: 13px 88px 0 69px;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 14px;
}

.u-section-1 .u-text-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 24px 30px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-1 .u-image-5 {
  width: 121px;
  height: 121px;
  background-image: url("images/iaf1.jpg");
  background-position: 50% 50%;
  margin: 13px 88px 0 69px;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 14px;
}

.u-section-1 .u-text-10 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 24px 30px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 856px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 550px;
  }

  .u-section-1 .u-image-1 {
    height: 559px;
    width: 1035px;
    margin-top: -9px;
    margin-left: -47px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -436px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -135px;
    margin-left: 40px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 550px;
    background-position: 0% 50%;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 311px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 746px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-1 .u-image-1 {
    width: 820px;
    left: -50px;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 123px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -189px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 473px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 981px;
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1795px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 149px;
  }

  .u-section-1 .u-image-1 {
    width: 640px;
    height: 412px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 -50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -218px;
    margin-right: 200px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 247px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 265px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: 25px;
    margin-bottom: 4px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1392px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1945px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 249px;
  }

  .u-section-1 .u-image-1 {
    width: 440px;
    height: 363px;
    margin-top: -16px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -252px;
    margin-right: 100px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 4px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 103px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 13px;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1620px;
  }
}