 .u-section-1 {
  min-height: 765px;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.85);
  height: 577px;
  margin-top: -40px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  align-self: center;
  margin: -537px calc(((100% - 1140px) / 2) + 28px) 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  align-self: center;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  color: rgb(70, 138, 201) !important;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 482px);
  min-height: 427px;
  height: auto;
  margin: -52px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 31px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 35px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 243px calc(((100% - 1140px) / 2)) 38px calc(((100% - 1140px) / 2) + 16px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 482px);
    height: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin: 277px calc(((100% - 940px) / 2) + -24px) 19px calc(((100% - 940px) / 2) + 24px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 482px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 778px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 532px;
    margin-top: 36px;
    margin-right: calc(((100% - 540px) / 2) + -19px);
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin: 214px 50px 26px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  min-height: 500px;
}.u-section-3 .u-sheet-1 {
  min-height: 465px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 5px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 428px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 38px 0 30px;
}

.u-section-3 .u-text-3 {
  margin: 20px 15px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 345px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-form-1 {
  width: 570px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-3 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 57px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 33px;
    margin-left: -2px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 284px;
  }

  .u-section-3 .u-form-1 {
    width: 567px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-form-1 {
    width: 420px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-form-1 {
    width: 320px;
  }
}