 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 799px;
}

.u-section-1 .u-group-1 {
  width: 733px;
  min-height: 180px;
  height: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 40px;
}

.u-section-1 .u-text-1 {
  margin-left: -20px;
  margin-right: 0;
  position: relative;
}

.u-section-1 .u-text-2 {
  margin-left: -20px;
  margin-right: 0;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.u-section-1 .u-image-1 {
  height: 586px;
  object-position: 50% 21.29%;
  background-position: 50% 21.29%;
  width: 1140px;
  margin: 15px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-1 .u-group-1 {
    width: 604px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 33px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -16px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -16px;
  }

  .u-section-1 .u-image-1 {
    height: 484px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 463px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -13px;
  }

  .u-section-1 .u-image-1 {
    height: 371px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 434px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 19px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -9px;
  }

  .u-section-1 .u-image-1 {
    height: 608px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 12px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 302px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -110px auto 30px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 362px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 31px;
  padding-right: 9px;
}

.u-section-2 .u-text-1 {
  margin: 49px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 9px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 362px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 13px;
  padding-right: 13px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 210px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 7px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 16px;
    margin-left: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 445px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 303px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: 22px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 410px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 469px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 667px;
    margin-right: 41px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin: 0 41px -287px 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 287px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin: -360px 25px 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 23px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 283px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 240px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 12px;
    margin-right: 12px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 67px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -297px;
    margin-left: 16px;
    margin-right: 16px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 415px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 39px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 357px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 357px;
}

.u-section-3 .u-container-layout-2 {
  padding-right: 40px;
}

.u-section-3 .u-text-1 {
  margin: 164px 0 0 51px;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 -25px 99px;
}

.u-section-3 .u-image-1 {
  width: 571px;
  height: 413px;
  margin: -432px auto 19px 44px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 33px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 135px;
    margin-left: 42px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: -35px;
    margin-left: 82px;
  }

  .u-section-3 .u-image-1 {
    width: 425px;
    margin-bottom: 60px;
    margin-left: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 451px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 451px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 25px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    width: 326px;
    margin-bottom: 39px;
    margin-left: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1049px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 579px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 19px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-right: 10px;
    margin-left: 14px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 392px;
    margin-right: 14px;
    margin-left: 33px;
  }

  .u-section-3 .u-image-1 {
    width: 530px;
    height: 431px;
    margin: -1010px 0 60px auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 967px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -168px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 552px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 581px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 12px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -370px;
    margin-right: -7px;
    margin-left: 22px;
  }

  .u-section-3 .u-text-2 {
    width: 299px;
    margin: 1017px 0 -263px 30px;
  }

  .u-section-3 .u-image-1 {
    width: 297px;
    height: 413px;
    margin-top: -1526px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 554px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 67px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 357px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  margin: 142px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 357px;
}

.u-section-4 .u-image-1 {
  width: 555px;
  height: 416px;
  margin: -110px 0 31px auto;
}

.u-section-4 .u-text-2 {
  margin: -92px 600px 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-image-1 {
    width: 386px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-right: 420px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-image-1 {
    width: 296px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 74px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-4 .u-image-1 {
    height: 381px;
    margin-top: -902px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -521px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: -264px;
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    height: 215px;
    margin-top: -20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-top: -942px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 589px;
}

.u-section-5 .u-image-1 {
  height: 529px;
  margin-top: -79px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-5 .u-image-1 {
    height: 500px;
    margin-top: -50px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 49px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -477px;
    margin-bottom: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    margin-top: -500px;
    margin-bottom: 49px;
    object-position: 78.07% 50%;
    background-position: 78.07% 50%;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 454px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 auto 40px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 414px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  position: relative;
  font-size: 1.875rem;
  margin: 41px 0 0;
}

.u-section-6 .u-text-2 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 414px;
}

.u-section-6 .u-image-1 {
  height: 381px;
  margin: -91px auto 35px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 224px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 483px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 341px;
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 0;
    margin-bottom: 33px;
    margin-right: initial;
    margin-left: initial;
  }
}